* {
  --main-font: "Ubuntu", sans-serif;
  --secondary-font: "Manrope", sans-serif;
  --lightblack: rgb(53, 52, 52);
  --lightgrey: rgb(235, 235, 235);
  --lightwhite: rgb(233, 227, 227);
}

body {
  background-image: url("../assets/cubicbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
