.categoryContainer {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-top: 50px;
}

.categoryTitleContainer {
  margin-left: 50px;
}

.categoryTitle {
  text-align: left;
  font-family: var(--main-font);
  letter-spacing: 1px;
  color: var(--lightblack);
}

.moviesContainer {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  margin-left: 30px;
  margin-right: 50px;
}

.movieContainer {
  width: 20%;
  margin: 20px;
}

.moviePoster {
}

.movieTitle {
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--lightblack);
}
