.mainContainer {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #38868e;
  height: 400px;
}

.logo {
  height: 250px;
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
