.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.header {
  background-color: #38868e;
  height: 400px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

.logo {
  height: 250px;
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
}

.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header {
    height: 250px;
  }
  .logo {
    height: 160px;
  }
}
